.bckgrnd, #app{
    background-color:rgba(247, 232, 214, 0.837);
}
.bckgrnd-cards-charact{
    background-color: rgb(140, 13, 39);
    height: 600px;
    
}
.bckgrnd-cards-locat{
    background-color: rgb(140, 13, 39);
    height: 300px;
    
}
.btnLinks{
    display: flex;
    justify-content: space-between;
    font-size: medium;
    
}
.img-card{
    width: 100%;
}
.text-cards{
    font-size: 1em;
}
.box-card-extend{
    background-color: rgb(140, 13, 39);
}