.bckgrnd, #app{
    background-color:  rgb(84, 4, 67);
}
.bckgrnd-cards-charact{
    background-color: rgba(247, 232, 214, 0.433);
    height: 250px;
    color: rgb(247, 244, 240);
}
.bckgrnd-cards-locat{
    background-color: rgba(247, 232, 214, 0.433);
    height: 150px;
    color:  rgb(84, 4, 67);
}
.btnLinks{
    display: flex;
    justify-content:end;
    font-size: medium;
}
.prueba{
    display: block;
    align-items: center;
}
.img-card{
    width: 40%;
    margin-top:5%;
    padding:1%;
    background-color: rgb(84, 4, 67) ;
}
.text-cards{
    font-size: 1em;
    padding: 16px;
}
.box-card-extend{
    background-color: rgb(84, 4, 67);
    width: 90%;
    margin-left: 5%;
    
}
.text-card-extend{
    color: rgb(215, 44, 190);
}

.img-card-extend{
    width: 50%;
    transition: transform .2s; 
}
.img-card-extend:hover{
    transform: scale(1.5);
}
.icons{
    color: rgb(84, 4, 67);
}
.icons:hover{
    color: rgb(166, 13, 143);
}
.title-card{
    white-space: nowrap; 
    width: 95%; 
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
}
.body-card{
    display: flex;
    justify-content:space-around;
}
.icons-footer{
    color: rgb(166, 13, 143);
}
.text-footer{
    color:rgba(247, 232, 214, 0.433)
}
.text-footer:hover{
    color: rgb(166, 13, 143);
}
