.bckgrnd, #app{
    background-color:  rgb(84, 4, 67);
}
.bckgrnd-cards-charact{
    background-color: rgba(247, 232, 214, 0.433);
    height: 325px;
    color:  rgb(84, 4, 67);
    
}
.bckgrnd-cards-locat{
    background-color:  rgb(84, 4, 67);
    height: 300px;
    color:  rgb(187, 29, 153);
}
.btnLinks{
    display: flex;
    justify-content:end;
    font-size: medium;
}
.img-card{
    width: 50%;
    margin-left: 25%;
    margin-top:5%
}
.text-cards{
    font-size: 1em;
}
.box-card-extend{
    background-color: rgb(84, 4, 67);
}
.icons{
    color: rgb(84, 4, 67);
}
.icons:hover{
    color: rgb(166, 13, 143);
}